 <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">

      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CrispyNotes</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if user.username != 'Guest' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add<span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/add">Add Note</a></li>
                            <li><a href="/add/tag/">Add Tag</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu" style="width:321px;">
                        <li>
                            <form class="navbar-form navbar-left" action="/search"role="search">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search Notes" name="q">
                              </div>
                              <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </li>
                      </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.username == 'Guest' %}
                     <li><a onlick="return false">Welcome {{ user.username }}</a></li>
                     <li><a href="/accounts/login/">Login</a></li>
                {% else %}
                    <li><a onlick="return false">Logged in as {{ user.username }}</a></li>
                    <li><a href="/logout/">Logout</a></li>
                {% endif%}
            </ul>
            <!--
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
        </ul>-->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

</div>
